package com.hoffenkloffen.lonewolf.book01;

import com.hoffenkloffen.lonewolf.core.character.*;
import com.hoffenkloffen.lonewolf.core.combat.*;
import com.hoffenkloffen.lonewolf.core.items.*;
import com.hoffenkloffen.lonewolf.core.items.modifiers.*;
import com.hoffenkloffen.lonewolf.core.section.*;
import com.hoffenkloffen.lonewolf.core.section.injections.*;
import com.hoffenkloffen.lonewolf.core.section.rules.*;

import static com.hoffenkloffen.lonewolf.core.combat.rules.BaseRule.combatWithout;

public class SectionFactory implements ISectionFactory {

    protected void initSections(ISectionManager manager) {

{0}

    }
}
